aic19-track2-reid/
.idea/

VehicleDetection/v_d_c_env/
VehicleDetection/image_test_deepreid/
VehicleDetection/test_imgs/
VehicleDetection/.idea/
VehicleDetection/checkpoints/

2019-CVPR-AIC-Track-2-UWIPL/.idea/
2019-CVPR-AIC-Track-2-UWIPL/CarKeypoints/model.t7/
2019-CVPR-AIC-Track-2-UWIPL/CarKeypoints/keypoint-query.txt/
2019-CVPR-AIC-Track-2-UWIPL/CarKeypoints/keypoint-test.txt/
2019-CVPR-AIC-Track-2-UWIPL/CarKeypoints/keypoint-train.txt/
2019-CVPR-AIC-Track-2-UWIPL/Video-Person-ReID/log-test/
2019-CVPR-AIC-Track-2-UWIPL/Video-Person-ReID/log/
2019-CVPR-AIC-Track-2-UWIPL/Video-Person-ReID/env/

