image_test_deepreid/
sample_clips/
t/

vehicle_detect_classification_result/
.idea/

VehicleDetection/v_d_c_env/
VehicleDetection/checkpoints/
VehicleDetection/image_test_deepreid/
VehicleDetection/test_imgs/
VehicleDetection/test_result/

aic19-track2-reid
CarKeypoints/model.t7
CarKeypoints/keypoint-query.txt
CarKeypoints/keypoint-test.txt
CarKeypoints/keypoint-train.txt
Video-Person-ReID/log-test
Video-Person-ReID/log
venv/

